<!doctype html>

<html>
<head>
	<title>Projects</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
  <link rel="icon" type="image/png" href="favicon.ico">
	

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
      <link rel="stylesheet" type="text/css" href="css/cleanup.css">
      <link rel="stylesheet" type="text/css" href="css/zxzdesigns.css">
      <link rel="stylesheet" type="text/css" href="css/icons.css">
      <script src="http://code.jquery.com/jquery-latest.min.js"></script>
</head>

<body>
  <header class="hideHeader">
    <ul>
      <li><a href="/home">Home</a></li>
      <li><a href="/Resume/FlatResumeWeb.pdf" target="_blank" class="no-ajaxy">Resume</a></li>
      <li><a href="/projects">Projects</a></li>
      <li><a href="/about">About&Contact</a></li>
    </ul>
  </header>
  <div id="main" class="projects">
    <div id="content" class="container">
      <section>
        <h1>Projects</h1>
        <p class="large">
          All of my projects were developed by using Node.js unless otherwise indicated. My roles in the projects were a graphic designer, a UX designer, & a coder.
        </p>
        <div class="center">
          <div class="grid-thirds">
            <a href="/projects/{{projects.0.url}}"><img src="{{projects.0.preview}}" id="{{projects.0.id}}"></a>
            <a href="/projects/{{projects.1.url}}"><img src="{{projects.1.preview}}" id="{{projects.1.id}}"></a>
          </div>

          <div class="grid-thirds">
            <a href="/projects/{{projects.2.url}}"><img src="{{projects.2.preview}}" id="{{projects.2.id}}"></a>
            <a href="/projects/{{projects.3.url}}"><img src="{{projects.3.preview}}" id="{{projects.3.id}}"></a>
            <a href="/projects/{{projects.4.url}}"><img src="{{projects.4.preview}}" id="{{projects.4.id}}"></a>
          </div>

          <div class="grid-thirds">
            <a href="/projects/{{projects.5.url}}"><img src="{{projects.5.preview}}" id="{{projects.5.id}}"></a>
            <a href="/projects/{{projects.6.url}}"><img src="{{projects.6.preview}}" id="{{projects.6.id}}"></a>
            <a href="/projects/{{projects.7.url}}"><img src="{{projects.7.preview}}" id="{{projects.7.id}}"></a>
          </div>
        </div>
      </section>
    </div>
    <footer>
      <div>
        <div>
          <ul>
            <li class="title">MENU</li>
            <li><a href="/home">Home</a></li>
            <li><a href="/Resume/FlatResumeWeb.pdf" target="_blank" class="no-ajaxy">Resume</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/about">About & Contact</a></li>
          </ul>
        </div>
        <div>
          <ul>
            <li class="title">MISCELLANEOUS</li>
            <li><a href="https://www.facebook.com/zhenxzheng" target="_blank" class="no-ajaxy">Facebook</a></li>
            <li><a href="https://twitter.com/zhenxzheng" target="_blank" class="no-ajaxy">Twitter</a></li>
            <li><a href="https://www.linkedin.com/in/zhenxzheng" target="_blank" class="no-ajaxy">LinkedIn</a></li>
            <li><a href="http://instagram.com/zhenito" target="_blank" class="no-ajaxy">Instagram</a></li>
          </ul>
        </div>
      </div>
    </footer>
  </div>
  <div id="main2"></div>
 
  <!-- jQuery -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

  <!-- jQuery ScrollTo Plugin -->
  <script src="//balupton.github.io/jquery-scrollto/lib/jquery-scrollto.js"></script>

  <!-- History.js -->
  <script src="//browserstate.github.io/history.js/scripts/bundled/html4+html5/jquery.history.js"></script>

  <!-- Ajaxify -->
  <script src="js/ajaxify.js"></script>
  <!-- <script src="https://code.jquery.com/jquery.js"></script>-->
  <script src="js/mainscript.js"></script>
  <script src="js/default.js"></script>
</body>
</html>
